{% load static %}

  	<section>
  		<div class="container">
  			<h1 class="text-3">ПАКЕТЫ УСЛУГ</h1>
  			<div class="row justify-content-center">
  				<div class="card product_card" style="width: 18rem; background-color: #cd7f32;">
				  <div class="card-body">
				    <h5 class="card-title">МАЛЕНЬКИЕ СОБАКИ</h5>
				    <p class="card-text">Дополнительные услуги: чистка ушей, стрижка когтей, вычесать собаку, помыть-высушить, дополнительный выгул</p>
				    <h3>{{ pk_1 }}</h3>
				  </div>
				</div>
				<div class="card product_card" style="width: 18rem; background-color: #c0c0c0;">
				  <div class="card-body">
				    <h5 class="card-title">СРЕДНИЕ СОБАКИ</h5>
				    <p class="card-text">Дополнительные услуги: чистка ушей, стрижка когтей, вычесать собаку, помыть-высушить, дополнительный выгул</p>
				    <h3>{{ pk_2 }}</h3>
				  </div>
				</div>
				<div class="card product_card" style="width: 18rem; background-color: #ffd700;">
				  <div class="card-body">
				    <h5 class="card-title">БОЛЬШИЕ СОБАКИ</h5>
				    <p class="card-text">Дополнительные услуги: чистка ушей, стрижка когтей, вычесать собаку, помыть-высушить, дополнительный выгул</p>
				    <h3>{{ pk_3 }}</h3>
				  </div>
				</div>
  			</div>
  		</div>
  	</section>

  	<section>
  		<div class="container">
  			<h1 class="text-3">Цены на заселение</h1>
  			<table class="table table_one">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">Сутки/ 24 часа</th>
			      <th scope="col">Старая цена</th>
			      <th scope="col">Новая цена</th>
			    </tr>
			  </thead>
			  <tbody>
			  {% for object in price_table %}
  				<tr>
			      <td>{{object.pc_title}}</td>
			      <td><del>{{object.pc_old_price}}</del></td>
			      <td>{{object.pc_new_price}}</td>
			    </tr>
			  {% endfor %}

			  </tbody>
			</table>
  		</div>
  	</section>